# Line ending
* text=auto

# Linguist
*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false
*.html linguist-detectable=true
*.xml linguist-detectable=true
*.html linguist-language=XML
*.txt linguist-detectable=true
*.txt linguist-language=Text
