* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: $lexend;
    background: url('./assets/background.png');
    color: $black;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
}

button {
    display: block;
    line-height: 0;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 4px;
    background: rgba($white, 0.4);
    backdrop-filter: blur(2px);
}
