// Colors
$pink: #fea3ba;
$cyan: #7cd9e7;
$black: #1b2430;
$white: #eeeeee;
$pink-dark: #b87e8c;
$cyan-dark: #4d868f;

// Fonts & Typography
$poppins: 'Poppins', sans-serif;
$lexend: 'Lexend', sans-serif;
$fira-sans: 'Fira Sans', sans-serif;
